<div class="heropowers">
        <div class="heropowers">
            {{log heropower}}
            <br>
            <br>
            <img src="{{heropower.imageUrl}}">
            <br>
            <h3 class="heroPower-name">{{heropower.name}}</h3>
            <p>{{heropower.description}}</p>
        </div>
</div>
