<div class="heropowers">
        <div class="heropowers">
            {{log heropower}}
            <img src="{{heropower.imageUrl}}">
            <h3>{{heropower.name}}</h3>
            <p>{{heropower.description}}</p>
        </div>
</div>
