<div class="superhero">
        <img class="superhero" src="{{superhero.imageUrl}}">
        <p class="name">{{superhero.name}}</p>
        
        <a class="btn" href="/details/{{superhero._id}}">Details</a>
    </div>