<div class="superhero">
        <img class="superhero" src="{{superhero.imageUrl}}">
        <p class="name">{{superhero.name}}</p>
        
        <a class="btn details-button" href="/heroDetails/{{superhero.id}}">Details</a>
    </div>