<div class="supervillain">
        <img class="supervillain" src="{{supervillain.imageUrl}}">
        <p class="name">{{supervillain.name}}</p>
        
        <a class="btn" href="/villaindetails/{{supervillain.id}}">Details</a>
    </div>