<div class="villainpowers">
        <div class="villainpowers">
            <img src="{{villainpower.imageUrl}}">
            <h3>{{villainpower.name}}</h3>
            <p>{{villainpower.description}}</p>
        </div>
</div>
