<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUPERHEROES VS SUPERVILLAINS</title>
</head>
<body>
    <h1 class="about">About Superheroes Vs Supervillains</h1>
    <div class="about">
        <p>
            Ever wanted to be a superhero or a supervillain. This is your chance! You will be able to create Superheroes or Supervillains and you get to decide what powers they will get. Which side will you choose?
        </p>
    </div>

    
</body>
</html>