<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Other CSS -->
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  
  <!-- Font Awesome Iocns cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
 <!-- NAV BAR -->
<header class="header">
      
        <a href="/index" class="logo">
            <i class="/img/logo.jpeg"></i>Superhero VS Villain
        </a>
        <nav class="navbar">
            <a href="/index">Gallery</a>
  <!--Superhero -->
  {{#if loggedIn}}
    <ul>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Superhero</a>
          <div class="dropdown-content">
            <a href="/createHero">Create</a>
            <a href="/heropowercreate">Power</a>
          </div>
        </li>
   <!--Villain -->
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Villain</a>
          <div class="dropdown-content">
            <a href="/createvillain">Create</a>
            <a href="/villainpowercreate">Power</a>
          </div>
        </li>
      </ul>
            <a href="/users/logout">Logout</a>
  
          {{else}}
            <a href="/users/register">Register</a>
            <a href="/users/login">Login</a>
    {{/if}}  
        </nav>
    </header>
 <!-- NAV BAR END-->
<br>
    <section class="home">
        <div class="max-width">
            <div class="home-content">
              <h2>Superheros</h2>
              <br>
                {{#each superheroes}}
                {{> superheroTemplate superhero=this}}
                {{/each}}
              
              <br>
              <br>
              <h2>Supervillains</h2>
              <br>
              <br>


                {{#each supervillains}}
                {{> supervillainTemplate supervillain=this}}
                {{/each}}
            
            </div>

            
       
              
            {{!-- <div class="home-image">
                <img src="/img/hero-villain.png" alt="">
            </div> --}}
        </div>
    </section>
</body>
</html>