<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- Other CSS -->
  <link href="/css/site.css" type="text/css" rel="stylesheet">

    <title>Login Page</title>
  </head>

<body>
  <!--NAV BAR -->
        <header class="header">
        <a href="/" class="logo">
            <i class="/img/logo.jpeg"></i>Superhero VS Villain
        </a>
        <nav class="navbar">
            <a href="/">Home</a>
  <!--Superhero -->
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Superhero</a>
          <div class="dropdown-content">
            <a href="/createHero">Create</a>
            <a href="/heropowercreate">Power</a>
          </div>
        </li>
   <!--Villain -->
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Villain</a>
          <div class="dropdown-content">
            <a href="/createvillain">Create</a>
            <a href="/villainpowercreate">Power</a>
          </div>
        </li>
      </ul>
            <a href="/users/register">Register</a>
            <a href="/users/login">Login</a>
            <a href="/users/logout">Logout</a>
        </nav>
    </header>
    <!--NAV BAR END -->
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="login-box">
      <h1>Login</h1>
      <form action='/users/login' method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <input type="submit" value="Login" />
      </form>
      {{#if message}}
      <div>
        {{message}}
        </div>
        {{/if}}
      </div>
    </div>
    <p class="para-2">
      Not have an account? <a href='/users/register'>Sign Up Here</a>
    </p>
    <br>
    <br>

     {{#if message}}
      <div class="error">
        <h2 class="error">{{message}}</h2>
      </div>
      {{/if}}
  </body>

</html>







