<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <link href="/stylesheets/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='#' />
</head>

<body>
  <div class="container">
    
    <header>
      <ul class="ul-home">
        <li><a href="/">Go back to browse Current Heros</a></li>
       {{#if loggedIn}}
        <li><a href="/createhero">Create your Superhero</a></li>
        <li><a href="/createvillain">Create your Supervillain</a></li>
        <li><a href="/heropowercreate">Add A Hero Power</a></li>
        <li><a href="/villainpowercreate">Add A Villain Power</a></li>
        <li><a href="/users/logout">Logout</a></li>
        <li><a href="/users/register">Register</a></li>
        {{/if}}
        <li><a href="/users/login">Login</a></li>
      </ul>
    </header>
  <hr>
    <main>
	<h1>Register Name & Password</h1>
<div class="form">
    <form action='/users/register' method="POST">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br><br>

        <label for="repeatPassword">Re-Password</label><br>
        <input type="password" id="repeatPassword" name="repeatPassword"><br><br>
        <input type="submit" value="Register">
    </form>
</div>
<br>
<hr>
    </main>
  </div>
  {{!-- <footer>SUPERHEROES VS SUPERVILLAINS</footer> --}}

</body>

</html>